<nav class="shadow bg-body rounded">
    <div class="logo">
        <img class="logo2" src="img/logo2.png">
    </div>

    <div class="button">
        <a class="btn-dark btn btn-lg" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Out
        </a>
    </div>


</nav>