<nav class="shadow bg-body rounded">
    <div class="logo">
        <img class="logo2" id = "logo2" src="img/logo2.png">
    </div>

    <div class="sign_out">
        <a class="btn-dark btn btn-lg" href="/" role="button">
            <i class="fab fa-google"></i>
            Sign Out
        </a>
    </div>

    <div class="sign_out">
      <input type="text" placeholder="Search" class="searchbar">
    </div>

</nav>

<script>
    function changeImage() {
        var image = document.getElementById('logo2');
        if (image.src.match("img/logo2.png")) {
            image.src = "img/one.jpg";
        }
        else {
            image.src = "img/logo2.png";
        }
    }
</script>