<nav class="shadow bg-body rounded">
    <div class="logo">
        <img class="logo2" src="img/logo2.png">
    </div>

    <div class="sign_out">
        <a class="btn-dark btn btn-lg" href="/" role="button">
            <i class="fab fa-google"></i>
            Sign Out
        </a>
    </div>


</nav>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>