<div class="button">
    <button class="btn-dark btn-lg btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        Create
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Meeting</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="row Mname">
              <label for="validationDefaultUsername" class="form-label">Meeting name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
              </div>
            </div>
            <div class="row date">
              <label for="validationDefault01" class="form-label">Date</label>
              <div class="input-group">
                  <input type="date" class="form-control" id="validationDefault01" required>
              </div>
            </div>
            <div class="row time">
              <label for="validationDefault02" class="form-label">Time</label>
              <div class="input-group">
                <input type="time" class="form-control input-group" id="validationDefault02" required>
              </div>
            </div>
            <div class="row Mlink">
              <label for="validationDefault03" class="form-label">Meeting Link</label>
              <div class="input-group">
                <input type="text" class="form-control input-group" id="validationDefault03">
              </div>
            </div>
            <div class="row repeat">
              <label for="validationDefault04" class="form-label">Repeat</label>
              <div class="input-group">
                <select class="form-select input-group" id="validationDefault04" required>
                    <option selected disabled value="">Choose...</option>
                    <option>None</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                  </select> 
              </div>
            </div>
            
              <button class="btn btn-primary submit" type="submit">Save</button>
            
          </form>
      </div>
    </div>
  </div>
</div>