<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClockIn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/Copy of C.png"/>
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
<link rel="stylesheet" href="css/darkmode.css">
</head>

<body class="light-theme">
    <nav class="shadow bg-body rounded">
        <div class="logo">
            <img id="logo2" class="logo2" src="img/logo2.png">
        </div>
        
        <div class="button">
            <a class="btn-dark btn btn-lg" href="/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign In
            </a>
        </div>


    </nav>



    <div class="container">
        <div class="row">
            <div class="col-sm-3 vidpanel">
                <video width="900" height="400" autoplay muted class="video" id="video-dark" src="video/logoFinal.mp4">
                </video>

            </div>
            <div class="col-sm-9 name">
                <p class="heading">Clock<span class="In" style="color: aquamarine;">In</span></p>
            </div>
        </div>
    </div>



    <div class="panel1">

        <div class="panel1text">
            <p class="para1"><span class="p1">Scheduling</span> <br> <span class="p2">gets</span> <br> <span
                    class="p3">easy</span>
            </p>
        </div>

    </div>

    <div class="features">
        <div class="rowf">

            <div class="col icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px"
                    class="bi bi-cloud-check-fill panellogos" viewBox="0 0 16 16">
                    <path
                        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 4.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                </svg>
                <i class="bi bi-cloud-check-fill icon1"></i>
                <h2 class="ftext">Safe Backup</h2>
                <p class="ftexting">No worries about losing any data</p>
            </div>

            <div class="col icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="130px" width="130px" 
                    class="bi bi-search icon2 panellogos" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <i class="bi bi-search"></i>
                <h2 class="ftext">Easy to search</h2>
                <p class="ftexting">Searching for a meet was never easier</p>
            </div>

            <div class="col icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="150px" width="150px" 
                    class="bi bi-display-fill panellogos" viewBox="0 0 16 16">
                    <path
                        d="M6 12c0 .667-.083 1.167-.25 1.5H5a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-.75c-.167-.333-.25-.833-.25-1.5h4c2 0 2-2 2-2V4c0-2-2-2-2-2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h4z" />
                </svg>
                <i class="bi bi-display-fill icon3"></i>
                <h2 class="ftext">Multiple views</h2>
                <p class="ftexting">Change your views as you wish</p>
            </div>
        </div>
    </div>

    </div>
       
    <div class="panel3">
        <div class="p3text">
            <div class="p3text1">Timely Reminders</div>
            <div class="p3text2">Have too many meetings to keep track?<br>ClockIn has got your back</div>

        </div>


    </div>
    <footer class="shadow foot">
        <div class="logo">
            <img class="logo-foot" id="logo-foot" src="img/logo2.png">
        </div>
        <div class="text-foot">Try ClockIn now</div>
        <p class="copyright">&copy; copyright 2021 ClockIn</p>
        
        <div class="switch position" >
            <input  type="checkbox" class="darking" id="checkbox" onclick="changeImage()">
            <label for="checkbox" class="label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
            </label>
        </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script>
        const themeSwitch = document.querySelector('input');

        themeSwitch.addEventListener('change', () => {
            document.body.classList.toggle('dark-theme');
        });
    </script>

<script>
    function changeImage() {
        var image = document.getElementById('logo2');
        if (image.src.match("img/logo2.png")) {
            image.src = "img/one.jpg";
        }
        else {
            image.src = "img/logo2.png";
        }

        var image = document.getElementById('logo-foot');
        if (image.src.match("img/logo2.png")) {
            image.src = "img/one.jpg";
        }
        else {
            image.src = "img/logo2.png";
        }

        var video = document.getElementById('video-dark');
        if (video.src.match("video/logoFinal.mp4")) {
            video.src = "video/laptop.mp4";
        }
        else {
            video.src = "video/logoFinal.mp4";
        }
    }
</script>

   

</body>



</html>