*{
    box-sizing: border-box;
}


.label{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    height: 26px;
    width: 50px;
}

.position{
    position:fixed;
    bottom: 1vh;
    right:1rem;
    z-index: 1000;
}

.darking{
    position: absolute;
    opacity: 0;
}

.darking:checked +.label .ball{
    transform: translateX(24px);

}

.ball{
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;

}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}