label{
    color: black;
}

.input-group{
    margin-bottom: .5rem;
}

.submit{
    width: 50%;
    margin-left: 7rem;
    margin-top: .5rem;
}

.darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }
  

