nav{
    height: auto;
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

.logo{
    display: inline-block;
}

.logo2{
 
    height: 100px;
    padding-left: 15px;

}

.button{
    float: right;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.video{
    height: 350px;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
}

.name{
    margin: auto;
    padding: 20px;
}

.heading{
    font-size: 200px;
    margin-left: 20px;
    display: inline-block;
    color: black;
}

.row{
    margin-top: 0px;
    padding-top: 130px;
}

.panel1{

    height: 400px;
    background-image: linear-gradient(to right, rgb(194, 248, 44), #93e9be );
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 20px;
    margin-top: 55px;
    
}
.panel1text{
    display: flex;
    flex-direction: row;

}
.para1{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 120px;
}
.p1{
    
    font-size: 70px;
    line-height:0px;
}
.p2{
    font-size: 100px;
    line-height:65px;
}
.p3{
    font-size: 80px;
    line-height:65px;
}




