nav{
    height: auto;
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

.logo{
    display: inline-block;
}

.logo2{
 
    height: 100px;
    padding-left: 15px;

}

.button{
    float: right;
    margin-right: 2rem;
    margin-top: 1.5rem;
}